html,
body {
  margin: 0;
  padding: 0;
}

/* .container-fluid {
  padding: 0!important;
} */

#header {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

#header ul li .nav-link {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 1px;
  margin-left: 70px;
  color: #4c585d;
}

#header .active {
  color: #f1a501 !important;
}

#hero .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#hero h1 {
  margin-top: 4%;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

#hero h2 {
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: center;
}

#header ul li .nav-link {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 1px;
  margin-left: 70px;
  color: #4c585d;
}

#header .active {
  color: #f1a501 !important;
}

#people {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 234px;
  width: 669px;
  left: 416px;
  top: 692px;
  border-radius: 0px;
}

.why-we-exist .section-heading {
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272d4e;
}

.why-we-exist .box {
  max-width: 730px;
  height: 412px;
  background: #ffffff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
}

.why-we-exist .box p {
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  color: rgba(43, 43, 43, 0.8);
}

.shadow-box {
  width: 678px;
  height: 363px;
  background: #ffffff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  margin-top: -338px;
}

.importants-and-scope .section-heading {
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272d4e;
}

.importants-and-scope .box {
  max-width: 930px;
  height: 394px;
  background: #ffffff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.7);
  border-radius: 20px;
}

.importants-and-scope .box p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: rgba(29, 53, 71, 0.8);
}
